/* HomePage.css */
.homePage-image {
    max-width: 100%;
    height: 265px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  
  .centered-input input {
    text-align: center !important;
  }