/*to hide horizontal scroll bar*/
.css-1t1j96h-MuiPaper-root-MuiDialog-paper::-webkit-scrollbar {
    display: none;
  }
  
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    -ms-overflow-style: visible;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .css-hz1bth-MuiDialog-container {
    margin: 60px !important;
  }
  