.title-star {
  color: #c73434;
}

.navigation-btn {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: auto;
  gap: 12px;
  position: absolute;
  top: 700px;
  left: 50%;
  transform: translateX(-55%);
}

.third.navigation-btn {
  position: static;
  margin: 50px 0;
  margin-bottom: 32px;
  margin-left: -38px;
  transform: none;
}

.backArrows {
  border: none;
  background: none;
  color: #c79e34;
  cursor: pointer;
}

div .css-tzssek-MuiSvgIcon-root {
  width: 32.31px;
  height: 32.31px;
}

button.css-344qxo-MuiButtonBase-root-MuiButton-root {
  /* first step selection button */
  border: none;

  font-family: inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
}

button.css-2rdw6z-MuiButtonBase-root-MuiButton-root {
  /* first step selection button */
  border: none;

  font-family: inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.create-plan-items {
  border: none !important;
  font-family: inter !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 20px !important;
  letter-spacing: -0.24px !important;
}

button.css-sghohy-MuiButtonBase-root-MuiButton-root {

  width: 241px;
  height: 53px;
  border-radius: 100px;
  padding: 16px 32px;

  text-transform: none;
  font-family: inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.32px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.create-a-plan-btn {
  width: 241px !important;
  height: 53px !important;
  border-radius: 100px !important;
  padding: 16px 32px !important;
  text-transform: none !important;
  font-family: inter !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 21px !important;
  letter-spacing: -0.32px !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
  box-sizing: border-box !important;
  border: 0 !important;
  color: #fff !important;
}

.MuiBox-root.css-dvxtzn {
  position: relative;
}

.title-color {
  color: #3492c7;
}

/* .MuiContainer-root.MuiContainer-maxWidthMd.css-xdmu94-MuiContainer-root { */
/* main */
/* padding: 0; */
/* } */

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation3.css-181ouvw-MuiPaper-root {
  /* <Paper /> */
  margin: -1px;
  margin: -1px;
  padding: 20px;
  border: 0;
  margin: -1px;
  padding: 20px;
  border: 0;
  box-shadow: none;
  height: auto;

}

.create-a-plan-upper-side {
  margin: -1px !important;
  margin: -1px !important;
  padding: 20px !important;
  border: 0 !important;
  margin: -1px !important;
  padding: 20px !important;
  border: 0 !important;
  box-shadow: none !important;
  height: auto !important;
}

.last-step-btn {
  display: flex;
  align-items: center;
  gap: 22px;
}

.last-step-btn-row {
  border: none !important;
  margin-top: 11px !important;
  margin-bottom: 25px !important;
  border-radius: 10px !important;
  height: 53px !important;
  width: 80px !important;
  padding: 16px 35px !important;
  text-transform: none !important;
  font-family: inter !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 20px !important;
  letter-spacing: -0.24px !important;
}

button.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  /* Final steps buttons */

  border: none;
  /* margin-right: 22px; */
  margin-top: 11px;
  margin-bottom: 25px;

  border-radius: 10px;
  height: 53px;
  width: 80px;
  padding: 16px 35px;

  text-transform: none;
  font-family: inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
}


@media (min-width: 600px) {

  .MuiContainer-root.MuiContainer-maxWidthMd.css-xdmu94-MuiContainer-root {
    /*main */
    padding-left: 16px;
    padding-right: 16px;
    min-height: 100vh;
  }

  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation3.css-181ouvw-MuiPaper-root {
    /* <Paper />  */
    margin-top: 40px;
    min-height: 80vh;
  }

  .MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.css-kffwc5-MuiButtonBase-root-MuiButton-root {
    margin: 10px;
    border-radius: 10px;
    text-transform: none;
    min-width: 15vw;
    min-height: 5vh;
  }

  .navigation-btn {
    top: 665px;
  }

  .third.navigation-btn {
    margin: 90px 0;
    margin-bottom: 30px;
    margin-left: -60px;
  }

}