* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0; /* Remove default margin to ensure the content reaches the edges */
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: none;
}

main {
  padding: 60px 0px ;
}

.MuiPaper-root.MuiPaper-elevation  .MuiBox-root.css-dtdmk9 {
  z-index: 0;
}

/* Resturant Options .css */
.required {
  color: #c73434;
}

.MuiBox-root.css-dvxtzn {
  margin: 15px 10px;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-6.css-1osj8n2-MuiGrid-root {
  padding-top: 0;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.css-1idn90j-MuiGrid-root {
  padding-top: 25px;
}

@media (min-width: 600px) {

  .MuiBox-root.css-dvxtzn {
    margin: 15px 10px;
  }

  .category-title {
    position: relative;
    left: 100px;
  }

  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-6.css-1osj8n2-MuiGrid-root {
    display: flex;
    justify-content: center;
  }

}
/* Resturant Options .css */
/*Planning FOrm .css */
.inputForm {
  margin: 10px;
  position: relative;
}

.required {
  color: #c73434;
}

.dateTimePicker {
  width: 325px;
  height: 50px;
  padding: 8px 12px;

  color: #1C2025;
  background: #E5E5E5;
  border: none;
  box-shadow: 0px 2px 2px #F3F6F9;
}

.dateTimePicker:hover {
  background: #E5E5E5;
  border: none;
}

.dateTimePicker:focus {
  background: #E5E5E5;
  border: none;
}

.input-form {
  width: 300px;
  height: 30px;
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;

  color: #1C2025;
  background: #E5E5E5;
  border: none;
  box-shadow: 0px 2px 2px #F3F6F9;
}

/* .input-form:hover {
  border-color: #3399FF;
} */

.input-form:focus {
  outline: 0;
  border: none;
  /* border-color: #3399FF;
  box-shadow: 0 0 0 3px #b6daff; */
}


.locationButton {
  border: none;
  background: none;
  cursor: pointer;

  position: absolute;
  right: 9px;
  top: 33px;
}

p.css-11oo1lh {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.32px;
  text-align: left;
}
/*Planning FOrm .css */
/*Planning .css */
.title-star {
  color: #c73434;
}

.navigation-btn {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: auto;
  gap: 12px;
  position: absolute;
  top: 700px;
  left: 50%;
  transform: translateX(-55%);
}

.third.navigation-btn {
  position: static;
  margin: 50px 0;
  margin-bottom: 32px;
  margin-left: -38px;
  transform: none;
}

.backArrows {
  border: none;
  background: none;
  color: #c79e34;
  cursor: pointer;
}

div .css-tzssek-MuiSvgIcon-root {
  width: 32.31px;
  height: 32.31px;
}

button.css-344qxo-MuiButtonBase-root-MuiButton-root {
  /* first step selection button */
  border: none;

  font-family: inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
}

button.css-2rdw6z-MuiButtonBase-root-MuiButton-root {
  /* first step selection button */
  border: none;

  font-family: inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
}

button.css-sghohy-MuiButtonBase-root-MuiButton-root {

  width: 241px;
  height: 53px;
  border-radius: 100px;
  padding: 16px 32px;

  text-transform: none;
  font-family: inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.32px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.MuiBox-root.css-dvxtzn {
  position: relative;
}

.title-color {
  color: #3492c7;
}

/* .MuiContainer-root.MuiContainer-maxWidthMd.css-xdmu94-MuiContainer-root { */
  /* main */
  /* padding: 0; */
/* } */

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation3.css-181ouvw-MuiPaper-root {
  /* <Paper /> */
  margin: -1px;
  margin: -1px;
  padding: 20px;
  border: 0;
  margin: -1px;
  padding: 20px;
  border: 0;
  box-shadow: none;
  height: auto;

}

.last-step-btn {
  display: flex;
  align-items: center;
  gap: 22px;
}

button.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  /* Final steps buttons */

  border: none;
  /* margin-right: 22px; */
  margin-top: 11px;
  margin-bottom: 25px;

  border-radius: 10px;
  height: 53px;
  width: 80px;
  padding: 16px 35px;

  text-transform: none;
  font-family: inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
}


@media (min-width: 600px) {

  .MuiContainer-root.MuiContainer-maxWidthMd.css-xdmu94-MuiContainer-root {
    /*main */
    padding-left: 16px;
    padding-right: 16px;
    min-height: 100vh;
  }

  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation3.css-181ouvw-MuiPaper-root {
    /* <Paper />  */
    margin-top: 40px;
    min-height: 80vh;
  }

  .MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.css-kffwc5-MuiButtonBase-root-MuiButton-root {
    margin: 10px;
    border-radius: 10px;
    text-transform: none;
    min-width: 15vw;
    min-height: 5vh;
  }

  .navigation-btn {
    top: 665px;
  }

  .third.navigation-btn {
    margin: 90px 0;
    margin-bottom: 30px;
    margin-left: -60px;
  }

}
/*Planning .css */
/*Join Plan .css */
.horizontal-line {
  width: 105vw;
  /* height: 0.01vh;   */
  background-color: rgba(189, 189, 189, 1);
  
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-12.css-1idn90j-MuiGrid-root {
  padding: 0;
}

.input-label {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #979797;
  align-self: flex-start;
  margin-top: 25px;
}

.plan-details-title {
  color: #1C1C1C;
  margin-bottom: 17px;
  font-family: 'inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.32px
}

.plan-details-info {
  color: #1C1C1C;
  margin-bottom: 17px;
  font-family: 'inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.32px
}

.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 0;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.MuiCard-root.css-kectt7-MuiPaper-root-MuiCard-root {
  border-radius: 0;
}

.MuiCardContent-root.css-1h8cki8-MuiCardContent-root {
  padding-left: 22px
}
/*Join Plan .css */
/*Instructions .css */
/* Instructions.css */


.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: 470px;
  width: 343px;
}


/* .MuiDialog-root{
  background: linear-gradient(179.94deg, rgba(0, 0, 0, 0) -0.4%, rgba(0, 0, 0, 0.6) 72.52%), linear-gradient(0deg, #3492C7, #3492C7);
} */

.MuiDialog-root{
  background: #3492C7;
}

/*Instructions .css */
/*HomePage .css */
/* HomePage.css */
.homePage-image {
  width: 100%;
  height: 265px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.centered-input input {
  text-align: center !important;
}
/*HomePage .css */
/*Footer .css */
.footer-style {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  height: 50px;
  font-family: Inter;
  font-size: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1500;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.line-below {
  height: 5px;
  width: 134px;
  background-color: #1C1C1C;
  border-radius: 2px;
  margin-top: 10px;
}

/*Footer .css */