* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0; /* Remove default margin to ensure the content reaches the edges */
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(179.94deg, rgba(0, 0, 0, 0) -0.4%, rgba(0, 0, 0, 0.6) 72.52%), linear-gradient(0deg, #3492C7, #3492C7);
  width: 100%;
  overflow: scroll;
}
